html,
body {
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: auto 0;
  min-width: 768px;
  height: 2730px;
  padding: 0;
  box-shadow: 0 15px 15px 5px rgba(0,1,1,0.2);
}


.container {
  position: relative;
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  left: 0px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  padding: 0px;
}

header {
  position: relative;
  display: block;
  text-align: center;
  font-weight: 700;
  min-width: 768px;
  z-index: 60;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  min-width: 768px;
  box-shadow:0px 0px 15px 1px rgba(0,1,1,0.1);
}

.container .header-index {
  padding: 0;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 768px;
}

.header-index nav{
  background: #ffffff;
  position: relative;
  margin: auto 0;

  max-width: 1200px;
  min-width: 768px;
}

.menu {
  font-size: 0;
}

.menu a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 56px;
}

.menu a:hover {
  color: #81b3d2;
}

.menu a:active {
  color: rgba(0,0,0,0.3);
}

.menu li {
  display: inline-block;
  width: 20%;
}

.menu .logo{
  position: relative;
  z-index: 1;
}

.menu .logo a {
  position: absolute;
  background: url(../pics/index-logo.png) 50% no-repeat;
  height: 70px;
  left: 0px;
  top: -33px;
}


.welcome {
  width: 100%;
  height: 570px;
  box-sizing: border-box;
  overflow: hidden;
}

.welcome-background {
  height: 100%;
  width: 100%;
  background: url("../pics/welcome-background.jpg") 50% -16px no-repeat;
}

.welcome-bottom {
  position: relative;
}

.welcome-bottom img {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  min-width: 768px;
  left: 0px;
  bottom: 0px;
  z-index: 1;
}

.description {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  padding-top: 38px;
  font-size: 14px;
  line-height: 21px;
}

.description-background {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  background-color: #EEEEEE;
  color: #000000;
  min-height: 226px;
  margin: 0 auto;

}


.features-name {
  display: inline-block;
  padding-top: 25px;
  font-size: 21px;
  line-height: 26px;
}

.features-item-left {
  float: left;
  width: 33.4%;
  background-color: #81b3d2;
  color: #ffffff;
  min-height: 256px;
}

.features-item-mid {
  margin: auto;
  float: left;
  width: 33.3%;
}

.features-item-right {
  margin: auto;
  float: left;
  width: 33.3%;
  min-height: 256px;
}


.features-picture {
  float: right;
  width: 66.6%;
  height: 256px;
  overflow: hidden;
}

.description-background .features-item-left {
  background-color: #EEEEEE;
  color: #000000;
}

.description .features-item-left,
.description .features-item-mid,
.description .features-item-right {
  background-color: #ffffff;

  color: #000000;
  padding-bottom: 10px;
}



.background-color .features-item-left .features-name,
.background-color .features-item-mid .features-name,
.background-color .features-item-right .features-name {
    padding-top: 60px;
    width: 120px;
}

.features-icons {
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.description .features-name {

}

.description p {
  padding-top: 10px;
  padding-bottom: 23px;
}

.container .places-2 .features-item-left {
  float: right;
  width: 33.4%;

}

.container .places-2 .features-picture {
  display: inline-block;
  float: left;
  width: 66.6%;
  height: 256px;
  overflow: hidden;

}

.places-1 .features-item-left .features-name {
  padding-top: 45px;
}

.places-2 .features-item-left .features-name {
  padding-top: 55px;
}


.search-button {
  display: block;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 30px;
  width: 568px;
  height: 58px;
  background-color: #766357;
  color: #ffffff;
}

.map-header {
  position: relative;
  width: 100%;

  height: 593px;
  box-sizing: border-box;
  overflow: hidden;
}

.map {

  height: 100%;
  width: 100%;
  background: url("../pics/map-pic.jpg") 50% -16px no-repeat;
}

.description .title{
  display: block;
  margin-top: -20px;
  padding-bottom: 10px;
}

.travel-date{
  margin-bottom: -10px;
}



/*
.welcome {
  width: 100%;
  height: 570px;
  box-sizing: border-box;
  overflow: hidden;
}

.welcome-background {
  height: 100%;
  width: 100%;
  background: url("../pics/welcome-background.jpg") 50% -16px no-repeat;
}*/










 .main-footer {
  position: absolute;
  top: 467px;
  text-align: center;
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  height: 123px;
  z-index: 2;
  padding-top: 17px;
  overflow: hidden;
  color: #000000;
  background-color: rgba(256, 256, 256, 0.9);


}

.main-footer a {
  text-decoration: none;
  color: #000000;
}

.footer-hashtag{
  text-align: center;
  float: left;
  width: 33.3%;
  margin-right: 120px;
  margin: 0 auto;
  padding-top: 10px;
  min-height: 90px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  padding-top: 20px;
  float: left;
  width: 33.3%;
}

.social-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 0;
  margin-right: 2px;
  background: #81b3d2 url("../icons/spritesheet.png") no-repeat center;
}

.twt {
  background-position: 6px -370px;
}

.fb {
  background-position: 8px -56px;
}

.yt {
  background-position: 5px -405px;
}

.social-btn:hover {
  background-color: #669ec0;
}


.footer-copyright {
  text-align: center;
  padding-top: 16px;
  margin: 0 auto;
  min-height: 60px;
  float: right;
  width: 33.3%;
}

.copyright-by {
  vertical-align: 67%;


  font-size: 14px;
  line-height: 26px;
  padding-right: 7px;
}

.copyright-pic {
  width: 113px;
  height: 39px;
}

.copyright-pic img {
  padding-top: 15px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* Страница с отелями */


.filter-range {
  width: 330px;
  margin: 50px auto;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ccc;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  font-size: 14px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.place-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;

}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font-size: 14px;
  background: none;
  border: none;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 15px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;

}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
