header {
  display: block;
  text-align: center;
  font-weight: 700;
  background: #fff;
  min-width: 768px;
  z-index: 60;
  position: fixed;
  width: 100%;
  box-shadow:0px 0px 15px 1px rgba(0,1,1,0.1);
}

.header-index {
  position: static;
  top: -56px;
}

.header-index.fixed {
  position: fixed;
  box-shadow: 0px 0px 15px 1px rgba(0,1,1,0.1);
  border-radius: 1px;
}

.menu {
  font-size: 0;
}

.menu li {
  display: inline-block;
  width: 20%;
}

.menu a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 56px;
}

.menu a:hover {
  color: #81b3d2;
}

.menu a:active {
  color: rgba(0,0,0,0.3);
}

.menu a.active {
  color: rgba(118,99,87,1);
  pointer-events:none;
  cursor: default;
}

.menu a.active:hover {
  color: rgba(96,78,67,1);
}

.menu a.active:active {
  color: rgba(118,99,87,0.3);
}

.menu a.disabled {
  color: rgba(118,99,87,0.3);
  pointer-events:none;
}

.menu .logo {
  position: relative;
}

.menu .logo a {
  position: absolute;
  text-indent: -9999px;
  background: url(../img/logo.png) no-repeat 50% 0;
  z-index: 10;
  height: 70px;
  top: -32px;
  left: 0;
}